<%= form_with(model: dog, local: true) do |form| %>
  <% if dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
        <% dog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :cat_friendly %>
    <%= form.check_box :cat_friendly %>
  </div>

  <div class="field">
    <%= form.label :child_friendly %>
    <%= form.check_box :child_friendly %>
  </div>

  <div class="field">
    <%= form.label :playful %>
    <%= form.check_box :playful %>
  </div>

  <div class="field">
    <%= form.label :barker %>
    <%= form.check_box :barker %>
  </div>

  <div class="field">
    <%= form.label :energetic %>
    <%= form.check_box :energetic %>
  </div>

  <div class="field">
    <%= form.label :calm %>
    <%= form.check_box :calm %>
  </div>

  <div class="field">
    <%= form.label :friendly %>
    <%= form.check_box :friendly %>
  </div>

  <div class="field">
    <%= form.label :likes_small_dogs %>
    <%= form.check_box :likes_small_dogs %>
  </div>

  <div class="field">
    <%= form.label :likes_big_dogs %>
    <%= form.check_box :likes_big_dogs %>
  </div>

  <div class="field">
    <%= form.label :likes_puppies %>
    <%= form.check_box :likes_puppies %>
  </div>

  <div class="field">
    <%= form.label :likes_older_dogs %>
    <%= form.check_box :likes_older_dogs %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
