<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meet-Pup | Register</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Varela+Round&display=swap" rel="stylesheet">
  </head>
  <script type='text/javascript'>
    function toggle_button(name) {
      if ($('.tag_btn_' + name).css('color') == "rgb(153, 153, 153)") {
        $('.tag_btn_' + name).css('color', '#e6a53e').css('border-color', '#fcc369');
        $('.tag' + name + '_check').prop("checked", true);
      }
      else {
        $('.tag_btn_' + name).css('color', '#999999').css('border-color', '#dddddd');
        $('.tag' + name + '_check').prop("checked", false);
      }
    }
  
  </script>
  <body class="background-blank">
   <div class="h-100 row my_profile_row" style="min-height: 1300px">
      <div class="font-satisfy" id="register-title"> Meet-Pup </div>
      
      <div class="col">
        <div class="register-container-profile">
        </div>
      </div>

      <div class="col">
        <div class="register-container-profile">
          <%= form_with(model: @dog, local: true) do |f| %>
            <%= f.label :profile %>
            <div class="upload-profile-pic"></div>
            <div class="image-upload">
               <label for="file-input" class="font-valera img-upload-btn">
                 UPLOAD
               </label>
            
               <%= f.file_field :image_url, id: "file-input", accept: 'image/png,image/jpeg'%>
            </div>

        </div>
      </div>
      
      <div class="col">
        <div class="register-container-profile" style="padding-left: 15px; padding-right: 15px;">
      
            <%= f.label :dog_name %>
            <%= f.text_field :dog_name, class: 'form-control field-input' %>
            
            <label for="name">Name</label>
            <input type="text" name="dog[name]" id="name" >
         
            <%= f.label :age %>
            <%= f.number_field :age, class: 'form-control field-input' %>
            <label for="dog_age">Age</label>
            <input type="number" name="dog[age]" id="dog_age">
            
            <%= f.label :gender %>
            <%= f.select :gender, options_for_select([["Select One", ""], "Male" , "Female"]), {}, { :class => 'field-input' } %>
      
            <%= f.label :breed %>
            <%= f.text_field :breed, class: 'form-control field-input' %>
    
            <%= f.label :weight %>
            <%= f.select :weight, options_for_select([["Select One", ""], "Less than 25 lbs" , "Between 25 lbs & 55 lbs", "Between 55 lbs & 100 lbs", "More than 100 lbs"]), {}, { :class => 'field-input' } %>
      
            <%= f.check_box :Playful, class: 'tag1_check hidden_checkbox' %>
            <%= f.check_box :Energetic, class: 'tag2_check hidden_checkbox' %>
            <%= f.check_box :Friendly, class: 'tag3_check hidden_checkbox' %>
            <%= f.check_box :Calm, class: 'tag4_check hidden_checkbox' %>
            <%= f.check_box :Affectionate, class: 'tag5_check hidden_checkbox' %>
            <%= f.check_box :Cuddly, class: 'tag6_check hidden_checkbox' %>
            <%= f.check_box :Intelligent, class: 'tag7_check hidden_checkbox' %>
            <%= f.check_box :Curious, class: 'tag8_check hidden_checkbox' %>
            <%= f.check_box :Sassy, class: 'tag9_check hidden_checkbox' %>
            <%= f.check_box :child_friendly, class: 'tag10_check hidden_checkbox' %>
            <%= f.check_box :cat_friendly, class: 'tag11_check hidden_checkbox' %>
            <%= f.check_box :likes_small_dogs, class: 'taga_check hidden_checkbox' %>
            <%= f.check_box :likes_big_dogs, class: 'tagb_check hidden_checkbox' %>
            <%= f.check_box :likes_puppies, class: 'tagc_check hidden_checkbox' %>
            <%= f.check_box :likes_soul_mate, class: 'tagd_check hidden_checkbox' %>
            <%= f.check_box :likes_younger_dogs, class: 'tage_check hidden_checkbox' %>
            <%= f.check_box :likes_older_dogs, class: 'tagf_check hidden_checkbox' %>

            <br>
            <%= f.label :traits, "I am..." %>
            <br>
            <button type="button" onclick="toggle_button('1')" class='font-valera tag-button tag_btn_1'>Playful</button>
            <button type="button" onclick="toggle_button('2')" class='font-valera tag-button tag_btn_2'>Energetic</button>
            <button type="button" onclick="toggle_button('3')" class='font-valera tag-button tag_btn_3'>Friendly</button>
            <button type="button" onclick="toggle_button('4')" class='font-valera tag-button tag_btn_4'>Calm</button>
            <button type="button" onclick="toggle_button('5')" class='font-valera tag-button tag_btn_5'>Affectionate</button>
            <button type="button" onclick="toggle_button('6')" class='font-valera tag-button tag_btn_6'>Cuddly</button>
            <button type="button" onclick="toggle_button('7')" class='font-valera tag-button tag_btn_7'>Intelligent</button>
            <button type="button" onclick="toggle_button('8')" class='font-valera tag-button tag_btn_8'>Curious</button>
            <button type="button" onclick="toggle_button('9')" class='font-valera tag-button tag_btn_9'>Sassy</button>
            <button type="button" onclick="toggle_button('10')" class='font-valera tag-button tag_btn_10'>Child Friendly</button>
            <button type="button" onclick="toggle_button('11')" class='font-valera tag-button tag_btn_11'>Cat Friendly</button>

            <br> <br> 
            
            <%= f.label :lookingfor, "Looking for..." %>
            <br>
            <button type="button" onclick="toggle_button('a')" class='font-valera tag-button tag_btn_a'>Small Dogs</button>
            <button type="button" onclick="toggle_button('b')" class='font-valera tag-button tag_btn_b'>Big Dogs</button>
            <button type="button" onclick="toggle_button('c')" class='font-valera tag-button tag_btn_c'>Puppies</button>
            <button type="button" onclick="toggle_button('d')" class='font-valera tag-button tag_btn_d'>A Soul Mate</button>
            <button type="button" onclick="toggle_button('e')" class='font-valera tag-button tag_btn_e'>Younger Dogs</button>
            <button type="button" onclick="toggle_button('f')" class='font-valera tag-button tag_btn_f'>Older Dogs</button>

            <br> <br> <br>

          <%= f.submit "Save", class: "font-valera field-button", id: "profile_form_submit" %>
          <% end %>
          
        </div>
      </div>
      
      <div class="col">
        <div class="register-container-profile">
        </div>
      </div>
      
    </div>
  </body>
</html>