<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meet-Pup | Register</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Varela+Round&display=swap" rel="stylesheet">
  </head>
  <body class="background">
   <div class="h-100 row align-items-center">
      <div class="font-satisfy" id="register-title"> Meet-Pup </div>
      <div class="col">
        <div class="register-container">
          <br>
          <div class="font-valera" id="register-subtitle"> <p> Create a New Account </p> </div>
          <br>
          
          <%= form_with(model: @user, local: true) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control field-input' %>
      
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control field-input' %>
      
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control field-input' %>
      
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control field-input' %>
    

          <%= f.submit "Create my account", class: "font-valera field-button" %>
          <% end %>
          
          <div class="register-link font-valera">
            ALREADY HAVE AN ACCOUNT?
            <%= link_to "LOG IN", login_path %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="h-100 row align-items-center"; style="min-height:auto">
      
<!--<script>-->
<!--  $(document).scroll(function() {-->
<!--  var y = $(this).scrollTop();-->
<!--  if (y > 0) {-->
<!--    $('.first_row').fadeIn();-->
<!--  } else {-->
<!--    $('.first_row').fadeOut();-->
<!--  }-->
<!--});-->
<!--</script>      -->
      <!-- Left and right of first elemet:  -->
      <div id="first_row" class="row" style="margin-top:0%; min-height:auto;">
        <div class="col" style="max-width:45%; float:left; margin-top:0%; margin-left:5%">   
          <div class="font-satisfy" id="register-title" style="margin-top:10%"> Our Mission </div>
       
          <div class="font-valera" id="register-subtitle" style="margin-top:35%"><p>Enable dog owners to meet up easily (or should we say, meet pup?).
          We are devoted to making your dogs life happier by providing you with an easy way to meet other dog owners. Once you get a match, you 
          can schedule play dates, petsit each others doggos, and just share advice. Sign up now to try it out!</p></div>
        </div>
        
        <div class="col" style="max-width:45%; float:right; margin-left:5%">   
          <img src="https://cdn.dribbble.com/users/160781/screenshots/3797279/dog_dribbble.gif" alt="doggo going left" width=100% >
        </div>
      </div>
      
      
      <!-- Left and right of second row:  -->
      <div class="row" style="margin-top:0%; min-height:auto">
        <!-- left -->
        <div class="col" style="max-width:43%; float:right; margin-left:5%;">   
          <img src="https://i.pinimg.com/originals/3a/31/90/3a3190f938422feaccf554b96ea80e93.gif" alt="doggo going right" width=100% >
        </div>
        
        <!-- right -->
         <div class="col" style="max-width:45%; float:left; margin-top:0%;">   
          <div class="font-satisfy" id="register-title" style="margin-top:10%"> Happy Doggo in 3 Steps </div>
       
          <div class="font-valera" id="register-subtitle" style="margin-top:35%;"><p>  
          1. Sign up using your email <br>
          2. Set up your dog's profile. Add photos and a description, and don't forget to use our tags! <br>
          3. Double tap for the doggos you like, and swipe on the ones that are just not a match <br><br>
          That's it! You'll get notified when there is a match :)
          </p></div>
        </div>
      </div>
      
      
    </div>
    
    
     <div class="row" style="margin-top:0%; min-height:200px">
      </div>
       
  </body>
  
  <!-- Footer -->
<!--<footer class="page-footer font-small blue pt-4">-->

  <!-- Footer Links -->
<!--  <div class="container-fluid text-center text-md-left">-->

    <!-- Grid row -->
<!--    <div class="row">-->

      <!-- Grid column -->
<!--      <div class="col-md-6 mt-md-0 mt-3">-->

        <!-- Content -->
<!--        <h5 class="text-uppercase">Footer Content</h5>-->
<!--        <p>Here you can use rows and columns to organize your footer content.</p>-->

<!--      </div>-->
      <!-- Grid column -->

<!--      <hr class="clearfix w-100 d-md-none pb-3">-->

      <!-- Grid column -->
<!--      <div class="col-md-3 mb-md-0 mb-3">-->

        <!-- Links -->
<!--        <h5 class="text-uppercase">Links</h5>-->

<!--        <ul class="list-unstyled">-->
<!--          <li>-->
<!--            <a href="#!">Link 1</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Link 2</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Link 3</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Link 4</a>-->
<!--          </li>-->
<!--        </ul>-->

<!--      </div>-->
      <!-- Grid column -->

      <!-- Grid column -->
<!--      <div class="col-md-3 mb-md-0 mb-3">-->

        <!-- Links -->
<!--        <h5 class="text-uppercase">Links</h5>-->

<!--        <ul class="list-unstyled">-->
<!--          <li>-->
<!--            <a href="#!">Link 1</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Link 2</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Link 3</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!">Link 4</a>-->
<!--          </li>-->
<!--        </ul>-->

<!--      </div>-->
      <!-- Grid column -->

<!--    </div>-->
    <!-- Grid row -->

<!--  </div>-->
  <!-- Footer Links -->

  <!-- Copyright -->
<!--  <div class="footer-copyright text-center py-3">© 2018 Copyright:-->
<!--    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>-->
<!--  </div>-->
  <!-- Copyright -->

<!--</footer>-->
<!-- Footer -->
</html>